@charset "UTF-8";
.book{
  margin:auto;
	transition: 1s ease;
  position:fixed;
  transform:rotate(-20deg);/*旋轉角度*/
  top:480px;
  left:25px;
  -webkit-user-select: none; /*禁止選取(Chorme)，不會有藍框框*/
}

.book:hover{   /*觸碰後*/
  opacity: 0.5;/*透明度*/
}
body{
  background-image:"./brokentable.jpg";
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
